.vertical-menu {
    background-color: deepskyblue;
    overflow: hidden;
    width: 165px;
}

.vertical-menu a
{
    color: black;
    display: block;
    width: 100px;
    padding: 40px;
    font-size: 17px;
    text-decoration: wavy;
}

.vertical-menu a:hover
{
    background-color: cornflowerblue;
    color: black;
}